body {
  font-family: Helvetica, sans-serif;
}

h1 {
  background-image: url("images/pattern.jpeg");
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
}

.product h2 {
  font-size: 32px;
  font-weight: bold;
  color: white;
}

h3 {
  font-size: 20px;
}

p {
  font-size: 16px;
}

.green {
  background-color: mediumspringgreen;
}

.red {
  background-color: lightcoral;
}

.blue {
  background-color: skyblue;
}

.price {
  font-weight: bold;
  color: blue;
}
